---
http_interactions:
- request:
    method: get
    uri: https://api.giphy.com/v1/gifs/search?api_key=WmGS3UksNzDNil4FaXrG57B76IXG7Z6y&lang=en&limit=1&q=Partly+Cloudy&rating=G
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-ratelimit-limit-hour:
      - '42'
      x-ratelimit-remaining-hour:
      - '41'
      x-ratelimit-limit-day:
      - '1000'
      x-ratelimit-remaining-day:
      - '999'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"type":"gif","id":"alEGxmahCCywE","slug":"pretty-sky-gorgeous-alEGxmahCCywE","url":"https:\/\/giphy.com\/gifs\/pretty-sky-gorgeous-alEGxmahCCywE","bitly_gif_url":"https:\/\/gph.is\/1ijeEL5","bitly_url":"https:\/\/gph.is\/1ijeEL5","embed_url":"https:\/\/giphy.com\/embed\/alEGxmahCCywE","username":"","source":"https:\/\/strawberrylicorice.tumblr.com\/post\/30159814933","rating":"g","content_url":"","source_tld":"strawberrylicorice.tumblr.com","source_post_url":"https:\/\/strawberrylicorice.tumblr.com\/post\/30159814933","is_sticker":0,"import_datetime":"2014-01-09
        04:10:32","trending_datetime":"1970-01-01 00:00:00","images":{"fixed_height_still":{"url":"https:\/\/media0.giphy.com\/media\/alEGxmahCCywE\/200_s.gif","width":"434","height":"200"},"original_still":{"url":"https:\/\/media0.giphy.com\/media\/alEGxmahCCywE\/giphy_s.gif","width":"499","height":"230"},"fixed_width":{"url":"https:\/\/media0.giphy.com\/media\/alEGxmahCCywE\/200w.gif","width":"200","height":"92","size":"36886","mp4":"https:\/\/media0.giphy.com\/media\/alEGxmahCCywE\/200w.mp4","mp4_size":"8868","webp":"https:\/\/media0.giphy.com\/media\/alEGxmahCCywE\/200w.webp","webp_size":"24054"},"fixed_height_small_still":{"url":"https:\/\/media0.giphy.com\/media\/alEGxmahCCywE\/100_s.gif","width":"217","height":"100"},"fixed_height_downsampled":{"url":"https:\/\/media0.giphy.com\/media\/alEGxmahCCywE\/200_d.gif","width":"434","height":"200","size":"309991","webp":"https:\/\/media0.giphy.com\/media\/alEGxmahCCywE\/200_d.webp","webp_size":"50738"},"preview":{"width":"498","height":"230","mp4":"https:\/\/media0.giphy.com\/media\/alEGxmahCCywE\/giphy-preview.mp4","mp4_size":"38922"},"fixed_height_small":{"url":"https:\/\/media0.giphy.com\/media\/alEGxmahCCywE\/100.gif","width":"217","height":"100","size":"126913","mp4":"https:\/\/media0.giphy.com\/media\/alEGxmahCCywE\/100.mp4","mp4_size":"71970","webp":"https:\/\/media0.giphy.com\/media\/alEGxmahCCywE\/100.webp","webp_size":"25826"},"downsized_still":{"url":"https:\/\/media0.giphy.com\/media\/alEGxmahCCywE\/giphy-downsized_s.gif","width":"499","height":"230","size":"60146"},"downsized":{"url":"https:\/\/media0.giphy.com\/media\/alEGxmahCCywE\/giphy-downsized.gif","width":"499","height":"230","size":"392697"},"downsized_large":{"url":"https:\/\/media0.giphy.com\/media\/alEGxmahCCywE\/giphy.gif","width":"499","height":"230","size":"392697"},"fixed_width_small_still":{"url":"https:\/\/media0.giphy.com\/media\/alEGxmahCCywE\/100w_s.gif","width":"100","height":"46"},"preview_webp":{"url":"https:\/\/media0.giphy.com\/media\/alEGxmahCCywE\/giphy-preview.webp","width":"449","height":"207","size":"49194"},"fixed_width_still":{"url":"https:\/\/media0.giphy.com\/media\/alEGxmahCCywE\/200w_s.gif","width":"200","height":"92"},"fixed_width_small":{"url":"https:\/\/media0.giphy.com\/media\/alEGxmahCCywE\/100w.gif","width":"100","height":"46","size":"36886","mp4":"https:\/\/media0.giphy.com\/media\/alEGxmahCCywE\/100w.mp4","mp4_size":"28331","webp":"https:\/\/media0.giphy.com\/media\/alEGxmahCCywE\/100w.webp","webp_size":"8956"},"downsized_small":{"width":"498","height":"230","mp4":"https:\/\/media0.giphy.com\/media\/alEGxmahCCywE\/giphy-downsized-small.mp4","mp4_size":"38922"},"fixed_width_downsampled":{"url":"https:\/\/media0.giphy.com\/media\/alEGxmahCCywE\/200w_d.gif","width":"200","height":"92","size":"74867","webp":"https:\/\/media0.giphy.com\/media\/alEGxmahCCywE\/200w_d.webp","webp_size":"15352"},"downsized_medium":{"url":"https:\/\/media0.giphy.com\/media\/alEGxmahCCywE\/giphy.gif","width":"499","height":"230","size":"392697"},"original":{"url":"https:\/\/media0.giphy.com\/media\/alEGxmahCCywE\/giphy.gif","width":"499","height":"230","size":"392697","frames":"10","mp4":"https:\/\/media0.giphy.com\/media\/alEGxmahCCywE\/giphy.mp4","mp4_size":"24863","webp":"https:\/\/media0.giphy.com\/media\/alEGxmahCCywE\/giphy.webp","webp_size":"69674"},"fixed_height":{"url":"https:\/\/media0.giphy.com\/media\/alEGxmahCCywE\/200.gif","width":"434","height":"200","size":"126913","mp4":"https:\/\/media0.giphy.com\/media\/alEGxmahCCywE\/200.mp4","mp4_size":"8271","webp":"https:\/\/media0.giphy.com\/media\/alEGxmahCCywE\/200.webp","webp_size":"74240"},"looping":{"mp4":"https:\/\/media0.giphy.com\/media\/alEGxmahCCywE\/giphy-loop.mp4","mp4_size":"3844479"},"original_mp4":{"width":"480","height":"220","mp4":"https:\/\/media0.giphy.com\/media\/alEGxmahCCywE\/giphy.mp4","mp4_size":"24863"},"preview_gif":{"url":"https:\/\/media0.giphy.com\/media\/alEGxmahCCywE\/giphy-preview.gif","width":"145","height":"67","size":"48043"},"480w_still":{"url":"https:\/\/media0.giphy.com\/media\/alEGxmahCCywE\/480w_s.jpg","width":"480","height":"221"}},"title":"partly
        cloudy sky GIF","_score":2500013.5,"analytics":{"onload":{"url":"https:\/\/giphy_analytics.giphy.com\/simple_analytics?response_id=5c34da19676e66546b4f60f0&event_type=GIF_SEARCH&gif_id=alEGxmahCCywE&action_type=SEEN"},"onclick":{"url":"https:\/\/giphy_analytics.giphy.com\/simple_analytics?response_id=5c34da19676e66546b4f60f0&event_type=GIF_SEARCH&gif_id=alEGxmahCCywE&action_type=CLICK"},"onsent":{"url":"https:\/\/giphy_analytics.giphy.com\/simple_analytics?response_id=5c34da19676e66546b4f60f0&event_type=GIF_SEARCH&gif_id=alEGxmahCCywE&action_type=SENT"}}}],"pagination":{"total_count":338,"count":1,"offset":0},"meta":{"status":200,"msg":"OK","response_id":"5c34da19676e66546b4f60f0"}}'
  recorded_at: Tue, 08 Jan 2019 17:28:48 GMT
recorded_with: VCR 4.0.0
